
*{
 margin:0%;
 padding:0%;
 box-sizing:border-box;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
 height:100%;
 width:100%;
}

section{
    height: 100%;
    width: 100%;
    position: relative;
}

nav{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1vw 2.4vw;
    height: 60px;
}
nav h1{
    font-size:32px;
    font-weight: bold;
    cursor: pointer;
}
.links{
    /* border: 2px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    padding: 0.4vw 1vw;
}


.links h4{
    font-weight: 500;
    font-size: 17.2px;
    cursor: pointer;
}

button{
    cursor: pointer;
}

.links button{
    height: 2.8vw;
    width: 10vw;
    background-color:transparent;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 14.2px;
}
.links button:hover{
    background-color:rgb(239, 234, 234);
}

nav h1 i{
    /* <i> element is an inline element so for modifying it from its default position you need to convert it into and inline-block or block element.Thatswhy our rotate was not working without changing its display */
    display: inline-block;
    rotate: 45deg;
    cursor: pointer;
    font-size: 35px;
}

/* center */
#center{
    /* background-color: red; */
    height: 85%;
    width: 100%;
    display: flex;
    padding: 2rem 3rem;
}

.center-part-1{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    padding: 1rem 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    border: 2px solid gray;

}
.center-part-1 h1{
   font-size: 68px;
   font-family: machina;
   line-height: 4.5rem;
   font-weight: 500;
   /* border: 2px solid gray; */
   /* padding: 0.2rem 0.6rem; */
   /* margin-left: 0.6rem; */

}
.center-part-1 p{
    font-size: 18px;
    /* border: 2px solid gray; */
    width: 79%;
    /* text-align: left; */
}
.center-part-1 button{
    margin-top: 1rem;
    height: 55px;
    width: 240px;
    border-radius: 0.92rem;
    border: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.13rem;
    background-color: black;
    color: white;
    text-align:center;
    border: 2px solid black;
    /* padding:0.2rem 0.3rem; */
}
.center-part-1 button:hover{
    background-color: rgb(40, 36, 36);
}






.center-part-2{
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    /* background-color: rgb(52, 18, 152); */
}
.center-part-2 img{
    height:100%;
    width: 100%;
}

