
*{
 margin:0%;
 padding:0%;
 box-sizing:border-box;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
 height:100%;
 width:100%;
}

section{
    height: 100%;
    width: 100%;
    position: relative;
}

nav{
    margin-top: 1rem;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1vw 5vw;
    height: 60px;
}
nav h1{
    font-size:32px;
    font-weight: bold;
    cursor: pointer;
}
.links{
    /* border: 2px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    padding: 0.4vw 1vw;
}


.links h4{
    font-weight: 500;
    font-size: 17.2px;
    cursor: pointer;
}

button{
    cursor: pointer;
}

.links button{
    height: 2.8vw;
    width: 10vw;
    background-color:transparent;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 14.2px;
}
.links button:hover{
    background-color:rgb(239, 234, 234);
}

nav h1 i{
    /* <i> element is an inline element so for modifying it from its default position you need to convert it into and inline-block or block element.Thatswhy our rotate was not working without changing its display */
    display: inline-block;
    rotate: 45deg;
    cursor: pointer;
    font-size: 35px;
}

/* center */
#center{
    /* background-color: red; */
    height: 85%;
    width: 100%;
    display: flex;
    padding: 2rem 4rem;
    margin-top: 1.5rem;
}

.center-part-1{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    padding: 1rem 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    /* border: 2px solid gray; */

}
.center-part-1 h1{
   font-size: 68px;
   font-family: machina;
   line-height: 4.5rem;
   font-weight: 500;
   /* border: 2px solid gray; */
   /* padding: 0.2rem 0.6rem; */
   /* margin-left: 0.6rem; */

}
.center-part-1 p{
    font-size: 18px;
    /* border: 2px solid gray; */
    width: 79%;
    /* text-align: left; */
}
.center-part-1 button{
    margin-top: 1rem;
    height: 55px;
    width: 230px;
    border-radius: 0.92rem;
    border: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.13rem;
    background-color: black;
    color: white;
    text-align:center;
    border: 2px solid black;
    /* padding:0.2rem 0.3rem; */
}
.center-part-1 button:hover{
    background-color: rgb(40, 36, 36);
}

.center-part-2{
    /* border: 2px solid gray;  */
    display: flex;
    justify-content: center;
    height: 100%;
    width: 60%;
    /* position: relative; */
    /* background-color: rgb(52, 18, 152); */
}
.center-part-2 img{
    height:100%;
    width: 100%;
}

.section1-partners{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 5rem;
    gap: 4rem;
}
.section1-partners img{
    height: 36px;
}
/* section 2 */

.page2 .services{
    /* border: 2px solid gray; */
    margin-top: 180px;
    padding: 20px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.services{
    margin-left: 3rem;
}
.services h2{
    font-size: 35px;
    /* border: 2px solid gainsboro; */
    padding: 0px 10px;
    background-color: #B9FF66;
    border-radius: 8px;
    text-align: center;
}
.services p{
    font-size: 17px;
    width: 45%;
}

#container{
    margin-top: 1.8rem;
    padding:1rem 5rem;
    /* border: 2px solid gray; */
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap:1rem;
    flex-wrap: wrap;
}

.elem{
    flex-shrink: 0;
    height: 280px;
    width: 45%;
    /* background-color: rgb(255, 255, 255); */
    border: 2px solid gray;
    border-radius: 2rem;
    box-shadow: 0px 8px 2px black ;
    display: flex;
    justify-content: space-around;
}
.left{
    padding: 1rem 2.5rem;
    width: 50%;
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}
.left h4{
    width:78%;
    border: 2px solid #dd7c7c;
    padding: 0.3rem 0.3rem;
    background-color: #B9FF66;
    font-size: 25px;
    border-radius: 10px;
    font-weight: 500;
    line-height: 2rem;
    
}
.btn{
    display: flex;
    gap: 1.4rem;
    justify-content: center;
    align-items: center;
}
.btn span{
    font-size: 17px;
    font-weight: 500;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem 1rem;
}
.right img{
    height: 60%;
    /* width: 100%; */
}
.yellow{
    background-color: #B9FF66;
}
.yellow h4{
    background-color: white;
    line-height: 2rem;
    width: 70%;
}
.black{
    background-color: black;
}
.black h4{
    background-color: white;
    width: 70%;
    line-height: 2rem;
}
.black span{
    color: white;
}
.grey{
    background-color: #F3F3F3;
}
.grey h4{
    width: 60%;
    line-height: 2rem;
}
.new h4{
    width: 50%;
}


